@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.Name.Substring(0,12) + "...", "Index", "Manage", null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, htmlAttributes: new { id = "registerLink", title = "Register as a new user" })</li>
        <li>@Html.ActionLink("Sign In", "SignIn", "Account", null, htmlAttributes: new { id = "loginLink", title = "Login existing user" })</li>
    </ul>
}
