<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="
                                http://sub.domain.com,
                                http://foo.domain.com,
                                //bar.domain.com/*,
                                http://*.baz.com/*"
             mustMatch="true">
    <serverUrls>

        <!-- testcase: basic 1 -->
        <!-- testcase: https-when-http -->
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
        <serverUrl url="//*.arcgis.com" matchAll="true"/>
        <serverUrl url="http://hostRedirect" matchAll="true"
                   username="proxytester"
                   password="Proxy!Rocks2016?"
                   hostRedirect="https://logistics.arcgis.com"/>

        <!-- testcase: username -->
        <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/SaveTheBay/FeatureServer"
                   matchAll="true"
                   username="user2"
                   password="user2"/>

        <!-- testcase: matchall-false -->
        <!-- testcase: protocol-relative -->
        <serverUrl url="//www.esri.com" matchAll="false"/>

        <!-- testcase: http-when-https -->
        <serverUrl url="https://sampleserver6.arcgisonline.com/arcgis/rest/services/Utilities" matchAll="true"/>

        <!-- testcase: federation-only, issue #191 -->
        <serverUrl url="http://route.arcgis.com"
                   matchAll="true"
                   clientId="gYTkNoqB5PUK4w18"
                   clientSecret="5e4038ee45694541b9e46fa1d3d99e66"/>


        <!-- testcase: federation-only, issue #191 -->
        <serverUrl url="http://analysis.arcgis.com"
                   matchAll="true"
                   username="proxytester"
                   password="Proxy!Rocks2016?"/>
        <!-- testcase: POST request  -->
        <serverUrl
                url="https://logistics.arcgis.com"
                username="proxytester"
                password="Proxy!Rocks2016?"
                matchAll="true"/>

        <serverUrl
                url="https://traffic.arcgis.com"
                username="proxytester"
                password="Proxy!Rocks2016?"
                matchAll="true"/>

        <serverUrl url="https://dl.dropboxusercontent.com" matchAll="true"/>

        <serverUrl url="http://data.wien.gv.at/daten/wms" matchAll="true"/>

        <serverUrl url="https://httpbin.org/" matchAll="true"/>

        <serverUrl url="https://esri.box.com" matchAll="true"/>

        <serverUrl url="https://bsvensson.github.io" matchAll="true"/>

    </serverUrls>
</ProxyConfig>