<table class="table-condensed product-calc margin-bottom">
    <thead>
        <tr>
            <th>
                {{calc.queryDescription.DescriptionTitle}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in calc.queryDescription.ValueEntries">
            <td>
                <a class="btn btn-primary btn-md btn-block"
                   ng-click="vm.selectValue(entry.EntryValue)">
                    {{entry.EntryMessage}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
