@using FP.Cloud.OnlineRateTable.Web.Controllers
@using FP.Cloud.OnlineRateTable.Common.ProductCalculation

@if (ViewData.ContainsKey(ProductCalculationController.POSTAGE))
{
    var postage = ((PostageInfo)ViewData[ProductCalculationController.POSTAGE]);
    if (null != postage)
    {
        <div>
            <div class="alert alert-info">
                <strong>Postage: </strong>
                @postage.GetFormattedPostage(true, false)
            </div>
        </div>
    }
}
