@if (ViewData.ContainsKey("Pcalc"))
{
    var pcalc = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.SelectIndexDescriptionInfo)ViewData["Pcalc"]);
    <div>
        <h4>Please select an item</h4>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @pcalc.DescriptionTitle
                </th>
            </tr>

            @{int i = 0; }
            @foreach (var item in pcalc.IndexEntries)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item, "SelectIndex", new { index = @i })
                    </td>
                </tr>
                i++;
            }

        </table>
    </div>
}
