@if (ViewData.ContainsKey("Pcalc"))
{
    var pcalc = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.SelectValueDescriptionInfo)ViewData["Pcalc"]);

    <div>
        <h4>Please select an item</h4>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @pcalc.DescriptionTitle
                </th>
            </tr>

            @foreach (var item in pcalc.ValueEntries)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.EntryMessage, "SelectValue", new { entryValue = item.EntryValue }, new { @class = "btn btn-primary btn-lg btn-block" })
                    </td>
                </tr>
            }

        </table>
    </div>
}
