@if (ViewData.ContainsKey("Pcalc"))
{
    var pcalc = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.DescriptionInfo)ViewData["Pcalc"]);

    <div>
        <h4>Please acknowledge</h4>
        <hr />
        <div class="text-center">
            @pcalc.DescriptionTitle
        </div>
        <div class="text-center">
            @Html.ActionLink("OK", "Acknowledge",null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
}