@if (ViewData.ContainsKey(FP.Cloud.OnlineRateTable.Web.Controllers.ProductCalculationController.REQUEST_DESCRIPTION))
{
    var requestDescription = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.DescriptionInfo)ViewData[FP.Cloud.OnlineRateTable.Web.Controllers.ProductCalculationController.REQUEST_DESCRIPTION]);

    <div>
        <h4>Please acknowledge</h4>
        <hr />
        <div class="text-center">
            @requestDescription.DescriptionTitle
        </div>
        <div class="text-center">
            @Html.ActionLink("OK", "Acknowledge",null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
}