@model FP.Cloud.OnlineRateTable.Common.ProductCalculation.WeightInfo

<div>
    <h4>Weight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Metric Weight");
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormattedWeight)
        </dd>
        <dt>
            @Html.DisplayName("Imperial Weight");
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormattedWeightImperial)
        </dd>
    </dl>
</div>
