@model FP.Cloud.OnlineRateTable.Web.Models.ViewModels.ProductCalculationViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Calculation</title>
</head>
<body>
    <h3>Product Calculation</h3>
    <hr />
    @Html.ValidationMessage("GeneralError")
    @if (ViewData.ContainsKey("PcalcResult") == false)
    {
        @Html.ActionLink("Start Product Calculation", "Start")
    }
    else
    {
        var pcalcResult = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.PCalcResultInfo)ViewData["PcalcResult"]);
        ViewDataDictionary weightDict = new ViewDataDictionary { { "Weight", pcalcResult.ProductDescription.Weight } };
        ViewDataDictionary dict = new ViewDataDictionary { { "Pcalc", pcalcResult.DedicatedDescription } };
        <div class="text-right">
            @Html.Partial("~/Views/ProductCalculation/_WeightPartial.cshtml", weightDict)
        </div>
        @Html.Partial(Model.PartialView,Model, dict)
    }
</body>
</html>

