<FpOnlineRateTable>
    <GlobalLogger>
        <LogFile>C:\inetpub\wwwroot\wordpress\wp-content\plugins\FpOnlineRateTable\log\FpOnlineRateTable.log</LogFile>
        <LogLevel>DEBUG</LogLevel>
        <LoggerName>FpOnlineRateTable</LoggerName>
        <MaxFiles>10</MaxFiles>
    </GlobalLogger>
    <FpOnlineRateCalculatorWidget>
        <Id>fp_online_rate_calculator</Id>
        <HtmlClass>fp-online-rate-calculator</HtmlClass>
        <Shortcode>fp_online_rate_calculator</Shortcode>
    </FpOnlineRateCalculatorWidget>
    <RateCalculationServiceService>
        <DefaultGetActiveRateTablesPath>api/RateCalculation/GetActiveTables</DefaultGetActiveRateTablesPath>
        <DefaultRateCalculationStartPath>api/RateCalculation/Start</DefaultRateCalculationStartPath>
        <DefaultRateCalculationCalculatePath>api/RateCalculation/Calculate</DefaultRateCalculationCalculatePath>
        <DefaultRateCalculationBackPath>api/RateCalculation/Back</DefaultRateCalculationBackPath>
        <DefaultRateCalculationUpdateWeightPath>api/RateCalculation/UpdateWeight</DefaultRateCalculationUpdateWeightPath>
    </RateCalculationServiceService>
    <CustomJavascriptWrapper>
        <IdPrefix>fp_online_rate_calculator-</IdPrefix>
        <LocalizationObject>localization</LocalizationObject>
        <MetaObject>meta</MetaObject>
    </CustomJavascriptWrapper>
</FpOnlineRateTable>