/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.11.2015, 11:07:07
    Author     : scharfenberg
*/

.value-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

// remove some table borders introduced by by cutomizr blue.css
table.product-calc {
    border-bottom: 0;
}
table.product-calc th {
    border-bottom: 0;
}