<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Fehler</title>
</head>
<body>
    <hgroup>
        <h1>Fehler</h1>
        <h2>Fehler bei der Verarbeitung Ihrer Anforderung.</h2>
    </hgroup>
</body>
</html>
