<div>
    <div growl></div>
    <div class="row">
        <div class="span6">
            <div>
                <div class="alert alert-info value-box">
                        <strong>{{vm.translation.postage}}</strong>
                    {{vm.serviceState.ProductDescription.Postage | postageAsString}}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="alert alert-info value-box">
                <div id="ValueDisplay" ng-hide="vm.showWeightInput">
                    <strong>{{vm.translation.weight}}</strong>
                    {{vm.serviceState.ProductDescription.Weight | weightAsString}}
                    <div class="pull-right">
                        <input type="button"
                               class="btn btn-primary btn-sm"
                               id="ChangeValue"
                               value="{{vm.translation.changeWeight}}"
                               ng-click="vm.showWeightInput=true">
                    </div>
                </div>
                <div id="ValueInput" ng-show="vm.showWeightInput">
                    <form name="vm.ChangeWeightForm">
                        <strong>{{vm.translation.weight}}</strong>
                        <input class="number-input"
                               data-val-number="The field WeightValue must be a number."
                               data-val-required="The WeightValue field is required."
                               id="WeightValue"
                               name="WeightValue"
                               type="number"
                               step="any"
                               min="0"
                               value="0.00"
                               ng-model="vm.weightValue">
                        <strong>{{vm.weightInputUnit}}</strong>
                        <div class="pull-right">
                            <button type="submit"
                                    class="btn btn-primary btn-md"
                                    ng-click="vm.changeWeight()">
                                {{vm.translation.ok}}
                            </button>
                        </div>
                        <span class="field-validation-valid text-danger"
                              data-valmsg-for="WeightValue"
                              data-valmsg-replace="true"></span>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div ui-view>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
        </div>
        <div class="span2">
            <a class="btn btn-primary btn-md btn-block" href="/ProductCalculation/StepBack">Step Back</a>
        </div>
        <div class="span2">
            <a class="btn btn-primary btn-md btn-block" href="/ProductCalculation/Restart">Restart</a>
        </div>
        <div class="span2">
            <a class="btn btn-primary btn-md btn-block disabled" href="/ProductCalculation/Finish">Finish</a>
        </div>
    </div>
</div>
