<div>
    <div growl></div>
    <form name="ProductCalculationStart">
        <div class="form-group row">
            <label class="control-label span2" for="SenderZip">
                {{translation.selectSenderZip}}
            </label>
            <div class="span10">
                <input class="form-control"
                       name="SenderZip"
                       id="SenderZip"
                       type="text"
                       value=""
                       ng-model="zipCode"
                       required >
                <div role="alert" ng-show="ProductCalculationStart.$submitted || ProductCalculationStart.SenderZip.$touched">
                    <span class="error"
                          ng-show="ProductCalculationStart.SenderZip.$error.pattern || ProductCalculationStart.SenderZip.$error.required">
                        {{translation.invalidZipCode}}
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset2">
                <button type="submit" class="btn btn-primary btn-md" ng-click="proceedToCalculation()">
                    {{translation.startCalculation}}
                </button>
            </div>
        </div>
    </form>
</div>