<ProxyConfig
    mustMatch="true"
    logFile="proxy_log_xml.log"
    allowedReferers="http://server.com/application1,https://server.com/application2,*">

  <serverUrls>

      <serverUrl
          url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/SaveTheBay"
          username="user2"
          password="user2"
          rateLimit="120"
          rateLimitPeriod="60"
          matchAll="true"/>

      <serverUrl
          url="geoenrich.arcgis.com"
          username="username"
          password="password"
          rateLimit="120"
          rateLimitPeriod="60"
          matchAll="true"/>

      <serverUrl
          url="https://route.arcgis.com"
          matchAll="true"
          oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
          clientId="6Xo1d-example-9Kn2"
          clientSecret="5a5d50-example-c867b6efcf969bdcc6a2"
          rateLimit="120"
          rateLimitPeriod="60">
      </serverUrl>

      <serverUrl
          url="http://services.arcgisonline.com/ArcGIS/rest/services/"
          rateLimit="120"
          rateLimitPeriod="60"
          matchAll="false"/>

  </serverUrls>

</ProxyConfig>
